# Set to true if you want debug mode, that is it will reload every time you save a file
#
# Note! Only works when running directly with python, doesn't work with start.sh script
# since it runs in a docker container
DEBUG=FALSE
# API key of the telegram bot
TELEGRAM_BOT_KEY="dummy"

# Database endpoint
DATABASE_ENDPOINT="db:5432"
# Database user
DATABASE_USER="user"
# Database user password
DATABASE_PASSWORD="password"
# Name of the database
DATABASE_NAME="pesun"

# Dash host. Note! Didn't test if it works on host other than 0.0.0.0
DASH_HOST="0.0.0.0"
# Link to the dash dashboard. This is the link, that is sent to the users by telegram bot
DASH_LINK="http://0.0.0.0"
# Dash port
DASH_PORT=8050

# Set to true for debugging purposses. Allows bot to perceive other users' messages as "Pesun Bot's"
ALLOW_NON_BOT_MESSAGES=FALSE